MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/resume-master
JWT_SECRET=your_jwt_secret_key
OPENROUTER_API_KEY=your_openrouter_api_key
GOOGLE_GENAI_API_KEY=your_gemini_api_key_optional
PORT=3000
